.admin-login-body {
    background: #1a1a1a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.admin-login-card {
    background: #2a2a2a;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 350px;
    text-align: center;
    border: 1px solid #fe314433;
}

.admin-login-card h2 {
    color: #fe3144;
    margin-bottom: 1.5rem;
}

.admin-input {
    width: 100%;
    padding: 12px;
    background: #333;
    border: 1px solid #444;
    border-radius: 8px;
    color: white;
    margin-bottom: 1rem;
    outline: none;
}

.admin-btn {
    width: 100%;
    padding: 12px;
    background: #fe3144;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}